input, select,option { 
    color: black !important; 
}
.mantine-Select-option {
  color: black !important;
}

.mantine-Select-input {
  color: black !important;
  background-color: white !important;
}

.mantine-Select-dropdown {
  background-color: white !important;
}

.gridmovimentos{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputq{
  width: 25vh;
}
.btnmov{
  width: 25vh !important;
}