.login-container{
    border: 1px solid rgba(93, 92, 92, 0.519);
    min-width: 50vh;
    min-height: 60vh;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}